// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$our-grey: #FBF5F3;
$our-yellow: #FBD99B;
$our-orange: #EF6930;
$our-red: #972A1B;
$our-brown: #413424;
