.form {
  background-color: white;
  width: 400px;
  height: auto;
  padding: 20px;
  border-radius: 3px;
  color: $our-brown;
  position: relative;

  .h1-form {
    font-family: $headers-font;
    font-weight: 500;
    padding: 20px 0;
    color: $our-brown;
    font-size: 35px;
  }
}

.btn-forms {
  text-align: right;
}

.form-hp {
  height: 450px;
  padding: 20px 30px;
  position: relative;
}

.btn-form-hp {
  position: absolute;
  right: 30px;
  bottom: 40px;
  padding: 5px 20px;
}

.form-sign-up {
  padding: 30px;
  margin-left: 230px;

  .h1-form {
    margin-bottom: 10px;
  }
}

.form-edit {
  background-color: white;
  width: 400px;
  height: 650px;
  padding: 30px;
  border-radius: 3px;
  color: $our-brown;
  margin: auto;
  position: relative;

  h2 {
    padding: 30px 0;
  }

  .btn-form-resgistration {
    position: absolute;
    right: 30px;
    bottom: 40px;
    padding: 5px 20px;
  }

  .btn-form-resgistration.signup {
    bottom: 20px;
  }
}

.form-instrument {
  background-color: white;
  width: 600px;
  height: auto;
  padding: 20px;
  border-radius: 3px;
  color: $our-brown;
  position: relative;

  .h1-form {
    font-family: $headers-font;
    font-weight: 500;
    padding: 20px 0;
    color: $our-brown;
    font-size: 35px;
  }
}

.container-instrument-form {
  margin: 0 auto;
}
