.instrument-wrapper {
  min-height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
}
.instrument-detail {
  height: 550px;
  width: 650px;
  position: relative;
  h2 {
    font-style: $headers-font;
    font-size: 25px;
    height: auto;
    font-weight: 500;
  }
  img {
    height: 100%;
    width: 300px;
  }
  p {
    color: $our-brown;
    font-size: 15px;
  }
  .card-product-infos {
    padding: 30px;
  }
  .price-detail{
    text-align: right;
  }
  .calendar-all {
    text-align: center;
    margin-top: 10px;
  }
  .calendar-booking{
    position: relative;
  }
  .btn-forms{
    position: absolute;
    right: 0;
  }
}
.instrument-owner {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  .avatar-owner{
    margin-right: 10px;
  }
}
.instrument-rental {
  display: flex;
  align-items: center;
  .details-rental{
    margin-right: 13px;
  }
}
.instrument-line {
    border-top: 1px solid #8F877D;
    padding-top: 5px;
  }
.price-rental {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  p {
    color: $our-orange;
    opacity: 1;
  }
}
.btn-edit-instrument {
  padding: 5px 39px;
  margin: 10px;
  font-size: 13px;
}
.btn-dashboard {
  padding: 5px 17px;
  margin: 10px;
  font-size: 13px;
}
.button-edit-dashbord {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
.current-user {
  height: 70px;
}
