.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}

.nav-link {
  margin: auto 5px;
}

.avatar-navbar {
  margin-left: 10px;
}

.logo-name {
  position: absolute;
  font-family: $logo-font;
  left: 65px;
  font-size: 20px;
}

.searchbar {
  position: absolute;
  left: 160px;
}
