<body>
  <div class="index-cards-grid">
   <!--  <%= @instruments.each  %> -->
    <div class="index-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.shopify.com/s/files/1/0367/8045/products/1A_MATON_SRS60C_1600x.jpg?v=1527476765)">
    instrument name
    </div>
  </div>

</body>
