<div class="banner banner-registration" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "registration.jpg" %>');">
  <div class="form-instrument container-instrument-form">
    <h1 class="h1-form">Add a new Instrument</h1>
    <%= render 'form', instrument: @instrument %>
  </div>
</div>
</div>
